.abs {
     position: absolute;
}
.bg_left {
     z-index: -100;
     top: -20%;
     left: -50%;
     img {
          width: 80%;
     }
}
.bg_right {
     z-index: -100;
     top: 20%;
     right: -70%;
     @include media("<=phone-tab"){
          display: none;
     }
     img {
          width: 80%;
     }
}

::-webkit-scrollbar {
     display: none;
}
.flex_dir_rr {
     flex-direction: row-reverse;
}
.up_case {
     text-transform: uppercase;
}
.flex {
     display: flex;
}
.flex_r {
     justify-content: space-between;
     align-items: center;
}
.flex_col {
     flex-direction: column;
}
.grid {
     display: grid;
}
.btn_mono {
     button {
          border: 1px solid black;
          background: white;
          color: black;
     }
}
.btn_long {
     button {
          width: 100%;
          font-size: 1.15em;
     }
}

.temp_wrap {
     width: 80%;
     margin: 0 auto;
     padding: 4.3rem 0px;
     @media screen and (max-width: 1200px) {
          width: 90%;
     }
}
.ta_center {
     text-align: center;
}

.header {
     > p {
          font-size: 1.4em;
     }
}
