@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Syne&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Syne', sans-serif;
    overflow-x: hidden;
    background: #030305;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
.flex_dir_rr {
    flex-direction: row-reverse;
}
.up_case {
    text-transform: uppercase;
}
.flex {
    display: flex;
}
.flex_r {
    justify-content: space-between;
    align-items: center;
}
.flex_col {
    flex-direction: column;
}
.grid {
    display: grid;
}
.btn_mono {
    button {
        border: 1px solid black;
        background: white;
        color: black;
    }
}
.temp_wrap {
    width: 85%;
    margin: 0 auto;
}
