.temp_wrap {
    padding: 4rem 0;
    > p {
        font-size: 1.2em;
    }
}
.divette {
    flex-wrap: nowrap;
    gap: 0 3rem;
    overflow: visible;
    margin: 0 auto;
    .car_wrap {
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 25px;
        position: relative;
        border-radius: 10px;
        gap: 1rem;
        flex-shrink: 0;
        .act_buttons {
            width: 80%;
            left: 10%;
            margin: 0 auto;
            position: absolute;
            top: 8%;
        }
        .img {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .bid {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            small {
                color: #ffffff80;
            }
            p {
                font-size: 1.2em;
            }
        }
    }
}
