.container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    > div {
        position: relative;
        img {
            width: 100%;
        }
        h1 {
            z-index: 40;
            background: #1a1a1a4d;
            padding: 10px 16px;
            border-radius: 30px;
            font-weight: 400;
            top: 9%;
            left: 10%;
            img {
                width: 15px;
            }
        }
        .top {
            top: 0px;
            left: 0px;
            width: 50%;
            img {
                width: 100%;
            }
        }
        .two {
            bottom: 0px;
            width: 50%;
            left: 0px;
            img {
                width: 100%;
            }
        }
    }
}
