.temp_wrap {
    padding: 4rem 0;
    > p {
        font-size: 1.2em;
    }
}
.divette {
    flex-wrap: nowrap;
    gap: 0 1.2rem;
    overflow: visible;
    margin: 0 auto;
    .car_wrap {
        width: 35%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        gap: 1rem;
        flex-shrink: 0;
        position: relative;
        padding: 20px;
        .bg {
            height: 15rem;
            border-radius: 10px;
            width: 100%;
            z-index: -2;
            background-color: red;
        }
        .cntnt {
            gap: 1em;
            transform: translateY(-20%);
            .n2 {
                gap: 0.4rem;
                .img {
                    width: 20%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            }
            .bio {
                color: #ffffff80;
                font-size: 0.98em;
                width: 80%;
                margin: 0 auto;
            }
            .btn_mono {
                button {
                    width: 70%;
                }
            }
        }
    }
}
