header {
    padding: 2.5rem 0px;
    h3 {
        padding: 15px 20px;
        border-radius: 1rem;
        background: #131314;
    }
}
.hero_content {
    padding: 3.5rem 0px;
    .txt {
        width: 48%;
        gap: 3rem;
        h1 {
            font-size: 5em;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 6rem;
        }
        p {
            color: #ffffff80;
        }
    }
    .right_flg {
        width: 35%;
        .indiv {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
