header {
    padding: 2.5rem 0px;
    h3 {
        padding: 15px 2rem;
        border-radius: 1rem;
        background: #131314;
    }
}
.hero_content {
    padding: 3.5rem 0px;
    .txt {
        width: 45%;
        gap: 2rem;
        h1 {
            font-size: 4.7em;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 6rem;
        }
        p {
            color: #ffffff80;
        }
        .cta {
            align-items: flex-end;
            gap: 0 3rem;
            p {
                a {
                    color: white;
                }
            }
        }
    }
    .right_flg {
        width: 40%;
        .img {
            width: 31%;
            align-self: center;
            display: flex;
            gap: 0.5rem;
            &:nth-child(1),
            &:nth-child(3) {
                transform: translateY(2rem);
            }
            .indiv {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
